_format_version: "3.0"

services:
  - name: catalogue-service
    url: http://catalogue:3001
    routes:
      - name: catalogue-route
        paths:
          - /catalogue
        strip_path: false
  - name: cart-service
    url: http://cart:3002
    routes:
      - name: cart-route
        paths:
          - /cart
        strip_path: false
  - name: order-service
    url: http://order:3003
    routes:
      - name: order-route
        paths:
          - /orders
        strip_path: false
  - name: agent-service
    url: http://agent:3004
    routes:
      - name: agent-route
        paths:
          - /agent
        strip_path: false
  - name: openai-service
    url: https://example.com
    routes:
      - name: openai-route
        paths:
          - /v1
        strip_path: true
  - name: mcp-service
    url: http://catalogue:3001
    routes:
      - name: mcp-route
        paths:
          - /mcp
        strip_path: true

plugins:
  - name: opentelemetry
    config:
      traces_endpoint: http://otel-collector:4318/v1/traces
      logs_endpoint: http://otel-collector:4318/v1/logs
      access_logs_endpoint: http://otel-collector:4318/v1/logs
      metrics:
        endpoint: http://otel-collector:4318/v1/metrics
        push_interval: 20
        enable_bandwidth_metrics: true
        enable_latency_metrics: true
        enable_request_metrics: true
        enable_upstream_health_metrics: true
        enable_consumer_attribute: true
  - name: ai-proxy-advanced
    route: openai-route
    config:
      targets:
        - route_type: llm/v1/chat
          auth:
            header_name: Authorization
            header_value: Bearer ${{ env "DECK_OPENAI_API_KEY" }}
          model:
            provider: openai
            name: gpt-4o-mini
            options:
              max_tokens: 2024
              temperature: 1.0
  - name: ai-mcp-proxy
    route: mcp-route
    config:
      mode: conversion-listener
      tools:
        - description: Get all catalogue in Gorilla Store
          method: GET
          path: /catalogue
          annotations:
            title: Get all catalogue in Gorilla Store
